* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/merriweather-v21-latin_cyrillic-ext_cyrillic_latin-ext-regular.ttf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/montserrat-v14-latin_cyrillic-ext_cyrillic_latin-ext-700.ttf');
}

html{
	font-size: 17px;
	font-family: Merriweather,sans-serif;
} 
body {
	line-height: 1;
}

video {
	position: fixed;
	right: 0;
	z-index: -2;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}
header{
	padding: 25px 50px;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	max-width: 1360px;
	font-size: .7rem;
	font-family: Montserrat,Helvetica,sans-serif;
	margin: 0 auto;
}
.purple_background{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(34,35,83,.8);
}
.register {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	border-radius: 25px;
	background-color: #e8b482;
	color: #fff;
	font-size: .888rem;
	text-decoration: none;
	text-align: center;
}
.header_bottom {
	display: flex;
}
nav{
	display: flex;
	flex-wrap: wrap;
}
.navbar_menu{
	display: flex;
	justify-content: space-between;
	flex-grow: 2;
}
.nav_menu{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.nav_menu ul {
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	padding: 0;
}

.nav_menu ul li {
	list-style: none;
	margin-left: 40px;
}

.nav_menu ul li a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding: 5px 0;
	color: #fff;
}

.nav_menu ul li a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	height: 2px;
	width: 0;
	transition: width 0.2s ease-out;
}

.nav_menu ul li a:hover::before{
	width: 100%;
}
.nav_menu .nav_right .profile ul {
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	padding: 0;
}
.nav_right a{
	color: #fff;
	text-decoration: none;
}
.nav_right{
	margin-left: auto;
	margin-top: 40px;
}
.nav_right ul {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	margin-top: 10px;
	justify-content: center;
}
.nav_right ul li{
	list-style: none;
	margin-right: 10px;
}


.profile {
	position: relative;
	display: inline-block;
	padding: 3px 1px;
	width: 155px;
	text-align: center;
	border-bottom: 1px solid #fff;	
}
.bottom_right p{
	padding-top: 10px;
	text-align: center;
	text-transform: none;
	font-size: .8rem;
	line-height: 1.3;
	color: #fff;
	white-space: nowrap;
}
.profile:before{
	content: '';
	position: absolute;
	right: 105%;
	top: 0;
	height: 120%;
	width: 14%;
	background-image: url(../images/Profile.png);
	background-size: 100% auto;
	background-repeat: no-repeat
}

.logo{
	width: 60px;
	padding-top: 10px;
}
.logo_2{
	width: 150px;
}
.logo_2 img {
	width: 100%;
}
.logo img{
	width: 100%;
}

.date {
	color: #e8b482;
	font-weight: 300;
	margin-top: 50px;
}

.date h3 {
	font-size: 1rem;
	font-weight: 400;
}

.bottom_right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottom_left h1{
	color: #fff;
	font-weight: 700;
	font-family: inherit;
	font-size: 1.5rem;
	line-height: 1.2;
	padding-right: 100px;
	margin-top: 20px;
}
.main-wrapper{
	background-color: #fff;
	background-image: url(../images/Bg.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.main {
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
	padding: 0 70px 0;
	color: #222353;
	overflow: hidden;
}
.news_date{
	margin-bottom: 1%;
	font-family: Montserrat,sans-serif;
	text-transform: uppercase;
	color: #e8b482;
	font-size: .7rem;
}
.home-content{
	padding: 75px 0 100px;
}

.card {
	position: relative;
	border: 1px solid #e8b482;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(232,180,130,.4), 0 0 4px rgba(232,180,130,.2);
}
.card_news {
	position: relative;
	border: 1px solid #e8b482;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(232,180,130,.4), 0 0 4px rgba(232,180,130,.2);
}
.card_news:before{
	content: '';
	position: absolute;
	z-index: 2;
	bottom: -1.111rem;
	left: calc(50% - 1.111rem);
	width: 2.222rem;
	height: 2.222rem;
	background-color: #fff;
	border-radius: 50%;
	background-image: url(../images/8burc.png);
	background-position: center;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.card:before{
	content: '';
	position: absolute;
	z-index: 2;
	bottom: -1.111rem;
	left: calc(50% - 1.111rem);
	width: 2.222rem;
	height: 2.222rem;
	background-color: #fff;
	border-radius: 50%;
	background-image: url(../images/8burc.png);
	background-position: center;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.president{
	display: flex;
	flex-direction: row;
	padding: 40px;
	padding-right: 60px;
}
.president-img{
	position: relative;
	width: calc(50% - 40px);
	margin-right: 80px;
	padding-top: calc((50% - 40px) * 3 / 4);
	overflow: hidden;
}
.president-img img{
	position: absolute;
	top: 0;
	height: 100%;
	margin-left: -20%;
}

.speech{
	width: calc(50% - 40px);
	overflow: hidden
}

.speech h2{
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 1.25;
}

.speech p {
	margin-bottom: 1.3rem;
	font-size: .94rem;
	line-height: 1.4;
}

.home-content .title{
	margin: 75px 0 15px;
}

.home-content .title a{
	transform: translateY(25px);
	float: right;
	color: inherit;
	font-size: .8rem;
	text-transform: uppercase;
	text-decoration: none;
}

.home-content h1 {
	padding-bottom: 5px;
	font-size: 2.3rem;
	text-transform: uppercase;
	border-bottom: 1px solid #e8b482;
}

.news {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 3.333rem;
}

.news .large {
	width: calc(50% - 20px/2);
	padding: 40px;
	padding-bottom: 50px;
}

.news a {
	color: inherit;
	text-decoration: none;
}


.large_img {
	position: relative;
	padding-top: calc(100% * 3 / 4);
	overflow: hidden;
}

.large_img img{
	position: absolute;
	top: 0;
	height: 100%;
	width: auto;
	align-content: center;
}

.large_content{
	padding-top: 45px;
	overflow: hidden;
}

.large_content h3 {
	margin-bottom: 25px;
	padding-top: 35px;
	border-top: 1px solid #e8b482;
	font-size: 1.25rem;
	line-height: 1.3;
}

.large_content p{
	font-size: .88rem;
	line-height: 1.35;
}

.small{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: calc(50% - 20px/2);
	margin-top: -35px;
}
.small2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.news .small .small_item{
	height: calc((100% - 70px)/ 2);
}
.news .small2 .small_item{
	width: calc(25% - 45px/4);
	margin-right: 15px;
	padding-bottom: 3rem;
}
.news .small2 .small_item:last-of-type{
	margin-right: 0;
}
.news .small_item {
	width: calc(50% - 20px/2);
	margin-top: 35px;
	padding: 20px;
}
.news .small_item_img {
	position: relative;
	padding-top: 75%;
	margin-bottom: 25px;
	overflow: hidden;
}
.small_item_content{
	padding-top: 1rem;
	border-top: 1px solid #e8b482;
}
.news .small_item_img img {
	position: absolute;
	top: 0;
	width: auto;
	height: 100%;
}

.news-content {
	padding: 75px 0 100px;
}

.news-content h1 {
	margin-bottom: 1.666rem;
	padding-left: 1.111rem;
	font-size: 2.4rem;
}


.news_detail{

	padding: 40px 120px 100px;
	line-height: 1.3;

}
article.news_article{
	margin-bottom: 2.5rem;
	font-weight: 300;
}

.news_detail .full-img img{
	width: calc(100% + 40px);
	margin: 0 -20px 1.5rem;
	overflow-y: hidden;
	overflow-x: visible;
}
.bread_crumb{
	margin-bottom: 2.1rem;
	font-weight: 700;
	font-family: Montserrat,sans-serif;
	font-size: .7rem;
	text-transform: uppercase;
}
.navbar_menu .active:before {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	height: 2px;
	width: 100%;
}
.navbar_menu .home:before {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	height: 2px;
	width: 100%;
}
.bread_crumb .active{
	color: #222353;
}
.bread_crumb a {
	text-decoration: none;
	color: #e8b482;
	transition: color .3s ease;
}
.paginator{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 19.444rem;
	margin: 0 auto;
	color: #e8b482;
	font-size: 1.25rem;
}
.paginator .active{
	color: #222353;
}
.paginator a{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.paginator a:hover{
	color: #222353;
}

.to_first{
	background: url(../images/Arrow.png) 50% 50% no-repeat,url(../images/Arrow.png) 50% 0 no-repeat;
	background-size: 75%;
	transform: rotate(90deg);
	width: 1.444rem;
	height: 1.444rem;
}
.to_last{
	background: url(../images/Arrow.png) 50% 50% no-repeat,url(../images/Arrow.png) 50% 0 no-repeat;
	background-size: 75%;
	transform: rotate(-90deg);
	width: 1.444rem;
	height: 1.444rem;
}
.prev_page{
	background: url(../images/Arrow.png);
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(90deg);
	width: 1.444rem;
	height: 1.444rem;
}

.next_page{
	background: url(../images/Arrow.png);
	background-size: 75%;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
	width: 1.444rem;
	height: 1.444rem;
}

.sidebar {
	width: 30%;
	float: right;
}

.turkmen_content{
	padding: 40px 0px 100px;
}

.turkmen_content .turkmen_article .article_item {
	margin-bottom: 4rem;
}
.turkmen_content .turkmen_article .article_item h2{
	margin-bottom: .75rem;
}
.turkmen_content .turkmen_article .article_item p{
	margin-bottom: 1rem;
	font-size: .888rem;
	line-height: 1.4;
}
.turkmen_content .turkmen_article .article_item a{
	display: inline-block;
	padding: .7rem 1.8rem;
	font-size: .7rem;
	font-family: Montserrat,sans-serif;
	font-weight: 700;
	color: #e8b482;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #e8b482;
}
.turkmen_article{
	width: 70%;
	padding-right: 4.444rem;
}
.turkmen_content h2 {
	font-size: 1.25rem;
	margin-bottom: 1.2rem;
}
.bottom_brd{
	border-bottom: 1px solid #e8b482;
}
.link{
	padding: .85rem 0 .9rem;
	font-size: .7rem;
	font-weight: 700;
}
.useful_link a {
	text-transform: uppercase;	
}
.link a{
	text-decoration: none;
	color: #222353;
	line-height: 1.5;
}
.latest_news{
	margin-bottom: 4.444rem;
}

.about_content{
	padding: 75px 5% 150px;
	min-height: 100vh;
}

.program{
	text-align: center;
	margin: 0 auto;
	font-size: 1.1rem;
	width: 70%;
}

.program p {
	display: block;
	margin-top: 2.222rem;
	font-weight: 300;
	font-style: italic;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
.about_content table {
	width: 100%;
	margin-bottom: 20px;
}

.about_content table tr td{
	padding: .8rem 0;
}

.about_content table tr td:nth-of-type(1){
	width: 20%;
	padding-right: .2rem;
	font-weight: 700;
	border-right: 2px solid #222353;
}

.about_content table tr td:nth-of-type(2){
	width: 80%;
	padding-left: 1.5rem;
}

.image{
	margin: 3rem 0;
}

.image img {
	width: 100%;
}

.venue{
	margin-top: .555rem;
	font-size: .95em;
	font-weight: 300;
}


.news_article p{
	margin-bottom: 1rem;
}
.wrapper{
	background-color: #2e2f6f;
}
footer{
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 60px 20px;
	color: #fff;
}

.section_1{
	border-bottom: 1px solid #fffFFF88;
	padding-bottom: 2rem;
}

.section_1 form{
	float: right;
	padding-top: .2rem;	
}

.section_1 label {
	display: block;
	padding-bottom: .3rem;
	font-size: 1.1rem;
}

.input{
	font-size: 1rem;
}

.section_1 input{
	display: inline-block;
	width: 300px;
	margin-right: .25rem;
	padding: .55rem .85rem;
	border: 1px solid #fffFFF66;
	background-color: transparent;
	color: #fff;
}
.section_1 button{
	display: inline-block;
	width: 150px;
	padding: .55rem;
	background-color: #e8b482;
	border: none;
	color: #fff;
	font-weight: 700;
	font-family: Montserrat,sans-serif;
}
.section_2 {
	font-family: Montserrat,Helvetica,sans-serif;
	padding: 1.8rem 0 .55rem;
	font-size: .75rem;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #fffFFF88;
}
.section_3{
	padding: 1rem 0;
	font-size: .68rem;
	font-weight: 300;
	color: #fffFFFaa;
}
.footer_nav{
	display: flex;
	justify-content: space-between;
}
.footer_nav ul{	
	font-weight: 400;
	text-transform: none;
}
.footer_logo .logo{
	display: inline-block;
	vertical-align: middle;
	width: 7%;
	margin-right: 1rem;
}
.footer_logo .logo img {
	width: 100%;
}

.footer_logo .name{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.4;
}
.footer_nav ul li {
	list-style: none;
	margin-top: 15px;
	color: #fffFFFaa;
}

.footer_nav ul li a{
	text-decoration: none;
	color: inherit;
}

.nav_link{
	padding-bottom: 40px;
}

.nav_link a {
	text-decoration: none;
	color: inherit;
}


.qrcode1{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	height: 5.5rem;
	width: 5.5rem;
	right: calc(100% + .8rem);
}
.qrcode2{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	height: 5.5rem;
	width: 5.5rem;
	right: calc(100% + 5.5rem + 1.6rem);
}
.qrcode2 img{
	width: 100%;
	height: 100%;
}
.qrcode1 img{
	width: 100%;
	height: 100%;
}
.mobile_apps {
	position: relative;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.store{
	border: 1px solid #fffFFF66;
	margin-bottom: 10px;
	cursor: pointer;
}
.store:last-of-type{
	margin-bottom: 0;
}
.store img {
	width: 100%;
}


.other_news_container{
	width: 100%;
	margin-top: 100px;
}

.other_news{
	display: flex;
	flex-direction: row;
	background-color: #fff;
	color: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 2px rgba(0,0,0,.1);
}

.other_news_img{
	position: relative;
	display: flex;
	justify-content: center;
	width: calc(50% - 15px);
	padding-top: calc((50% - 15px) * 27 / 64);
	overflow: hidden;
}
.other_news_img img {
	position: absolute;
	top: 0;
	height: 100%;
}

.other_news_content {
	width: calc(50% + 15px);
	background-color: #e8b482;
	padding: 20px;
	padding-bottom: 10px;
}

.other_news_content h3{
	font-size: 1.2rem;
	margin-bottom: 20px;
	line-height: 1.2;
}
.other_news_content a{
	float: right;
	margin-top: 50px;
	margin-right: 20px;
	padding: .1rem .1rem;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-family: Montserrat,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .888rem;
}
.other_news_content p{
	font-size: .85rem;
}


.condition p{
	width: 65%;
	margin-bottom: 1.111rem;
	line-height: 1.3;
}
.info h4, p{
	margin-bottom: 10px;
}

.contact_content p{
	margin-bottom: 2.777rem;
	line-height: 1.4;	
}
.contact_content h2{
	margin-bottom: .555rem;
	font-size: 1.5rem;	
}
.contact_content p:last-of-type{
	margin-bottom: 0;
}
.phone {
	margin-bottom: 1.944rem;
}
.contact_content p a{
	margin-left: .55rem;
	border-bottom: 1px dotted #e8b482;
	color: #e8b482;
	text-decoration: none;
}
.contact_content .input_wrapper{
	margin-bottom: 1.111rem;
	display: inline-block;
	width: 100%;
}

.half {
	width: calc((99% - 1.11rem)/ 2) !important;
}
.input_wrapper input, textarea{
	width: 100%;
	padding: .666rem;
	border: 1px solid #e8b482;
	color: #222353;
	font-family: inherit;
	resize: none;
}
.file_input{
	position: relative;
	margin-bottom: 1.111rem;
}
.file{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: .7rem;
	border: 1.5px dashed #e8b482;
	border-radius: 4px;
	overflow: hidden;
	white-space: nowrap;
	color: #e8b482;
}

.contact_content .file_input input{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: .666rem;
	opacity: 0;
	cursor: pointer;
}

.checkbox label {
	font-size: 1rem;
	color: #e8b482;
	cursor: pointer;
}

.checkbox input {
	float: left;
	position: relative;
	top: -.1rem;
	left: 0;
	width: 1.3888rem;
	height: 1.3888rem;
	margin-right: .555rem;
}
:focus{
	outline: 0;
}
.send{
	float: right;
	padding: .666rem 4.444rem;
	border: 0;
	background-color: #e8b482;
	transform: translateY(-100%);
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	font-family: Montserrat,sans-serif;
	text-transform: uppercase;
}

.slider_container{
	position: relative;
	margin: auto;
	overflow: hidden;
}

.slider{
	width: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: transform .5s ease;
}

.slider_img{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 56.25%;
	margin-right: 10px;
}
.slider_img img{
	position: absolute;
	top: 0;
	width: 100%;
}

.mini_gallery_cont{
	overflow: hidden;
	margin-top: .8rem;
}

.mini_gallery{
	white-space: nowrap;
	font-size: 0;
	user-select: none;
	transition: transform .4s ease;
}
.gallery_item{
	position: relative;
	display: inline-block;
	width: calc((100% - 7*.8rem)/ 8);
	margin-right: .8rem;
	padding-top: calc(((100% - 7*.8rem)/ 8) * 9 / 16);
	cursor: pointer;
}

.gallery_item img{
	position: absolute;
	top: 0;
	width: 100%;
}

.register_cont .register_form table{
	width: 100%;
	margin-bottom: .833rem;
	border-bottom: 1px dotted #e8b482;
} 
.register_cont .register_form table td{
	width: 55%;
	padding-bottom: 20px;
	vertical-align: top;
} 
.register_cont .register_form table td:first-child {
	width: 45%;
	font-weight: 700;
} 
.register_cont .register_form table td:last-child {
	vertical-align: middle;
}
.register_cont .register_form table td:first-child p{
	width: 92%;
	padding: 14px 0;
	border-bottom: 1px dotted #e8b482;
	line-height: 1.3;
}

.register_form .input_wrapper {
	position: relative;
	background-color: #fff; 
}

.asterisk{
	color: red;
	font-size: .7rem;
}

.register_form .input_wrapper select {
	width: 100%;
	padding: .666rem;
	padding-right: 1.8rem;
	border: 1px solid #e8b482;
	border-radius: 0;
	background-color: transparent;
	color: #222353;
	font-size: 18px;
	font-family: Merriweather, sans-serif;
	-webkit-appearance: none;
	cursor: pointer;
	background-image: url(../images/arrow-down.png);
	background-position: 97% center;
	background-size: auto 40%;
	background-repeat: no-repeat;
}

.register_form .input_wrapper input{
	width: 100%;
	padding: .666rem;
	border: 1px solid #e8b482;
	background-color: transparent;
	color: #222353;
}


.photo_wrapper{
	position: relative;
	padding-bottom: 10px;
	color: #e8b482;
}

.default{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 100%;
	padding-top: calc(32% * 4 / 3);
	border: 1px solid #e8b482;
	overflow: hidden;
}

.default img{
	width: 98%;
	height: 98%;
	position: absolute;
	top: 1%;
	left: 1%;
}

.requirements{
	display: inline-block;
	vertical-align: top;
	width: 67%;
	height: 100%;
	padding-top: .555rem;
	padding-left: 1.11rem;
}
.passport_requirements p{
	position: relative;
	margin-bottom: .833rem;
	padding-left: .666rem;
	font-size: .65rem;
	line-height: 1.25;
}

.file_input input{
	position: relative;
	z-index: 2;
	width: 100%;
	padding: .222rem 0;
	opacity: 0;
	cursor: pointer;
}

.fake_file_input{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: .555rem 0;
	background-color: #e8b482;
	color: #fff;
	font-size: .7rem;
	font-weight: 700;
	font-family: Montserrat;
	text-transform: uppercase;
	text-align: center;
}

.registr_condition{
	margin-top: 1.3888rem;
	margin-bottom: 4.1666rem;
	padding-top: 1.3888rem;
	border-top: 1px solid #e8b482;
	color: #e8b482;
}

.submit{
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 15px 40px;
	border: 0;
	background-color: #e8b482;
	color: #fff;
	font-family: Montserrat,sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.logo-2{
	display: none;
}

.mg_left{
	margin-left: 1.11rem;
}
.register_cont{
	padding: 75px 80px 200px 120px;
}



.gallery_btn_wrapper{
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 0;
}

.gallery_btn_wrapper .gallery_btn{
	display: inline-block;
	width: 2.25rem;
	height: 2.25rem;
	text-align: center;
	background-color: #fefefe;
	background-image: url(../images/Arrow.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 60%;
	cursor: pointer;
}
.gallery_btn_wrapper .gallery_btn:first-of-type{
	transform: rotate(90deg);
}
.gallery_btn_wrapper .gallery_btn:last-of-type{
	transform: rotate(-90deg);
	margin-left: 1rem;
}
.slider_container{
	position: relative;
	margin: auto;
	overflow: hidden;
}

.menu-toggle{
	display: none;
	position: absolute;
	top: 25px;
	left: calc(50% - 3.25rem);
	z-index: 4;
	width: 6.5rem;
	font-family: Montserrat,sans-serif;
	font-weight: 700;
	font-size: 1.25rem;
	text-transform: uppercase;
	color: #fff;
	user-select: none;
}
.menu-ham{
	position: relative;
	width: 1.5rem;
	height: 1rem;
}
.menu-toggle div{
	display: inline-block;
	vertical-align: middle;
}

.menu-hide{
	display: none;
}

.menu-show{
	display: initial;
}



.menu-showing{
	transform: translateY(0) !important;
}
.modal{
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2)
}
.bootoms_up{
	display: none;
}

.header_top{
	height: 210px;
}

.google_maps{
	position: relative;
	background-color: #fff;
}

.google_container{
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
	padding: 70px;
	color: #222353;
}

.location {
	position: relative;
	z-index: 2;
	width: 550px;
	padding: 45px;
	background-color: #e8b482;
	color: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.15);
}

.location h2{
	padding-bottom: 1rem;
	border-bottom: 1px solid #fff;
	font-size: 2.3rem;
	text-transform: uppercase;	
}

.location .contact_us{
	padding: 2rem 0 5rem;
	font-size: .888rem;
	line-height: 1.3;
}

.location .address_container p{
	font-size: .75rem;
	line-height: 1.3;
	margin-bottom: 0;
}

.location .address_container p:first-of-type{
	float: right;
	padding-right: 1rem;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 960px) {
	#map {
		display: none;
	}
	.location{
		width: 100%;
		padding: 5%;
	}
	.location h2{
		font-size: 1.75rem;
		text-align: center;
	}
	.google_container{
		padding: 0 7% 7%;
	}
	html {
		font-size: 12.5px;
	}
	.main {
		padding: 0 7% 0;
	}
	.menu-toggle{
		display: initial;
	}
	header{
		padding: 25px 20px;
		height: auto;
	}	
	.president {
		flex-wrap: wrap;
		padding: 7%;
	}
	.bootoms_up{
		display: initial;
	}
	.header_top{
		height: initial;
	}	
	.profile{
		width: 180px;
	}
	.president-img{
		width: 100%;
		padding-top: calc(100% * 3 / 4);
		margin-right: 0;
		margin-bottom: 5%;
	}	
	.speech{
		width: 100%;
		padding-top: 5%;
		border-top:  1px solid #e8b482;
	}
	.speech h2{
		font-size: 1.1rem;
	}

	.speech p{
		font-size: .888rem;
	}
	.bottom_right{
		display: none;
	}
	.header_bottom {
		flex-wrap: wrap;
	}
	nav{
		justify-content: center;
		padding: 5.5rem 0 2rem;
	}
	.menu-ham span{
		position: absolute;
		left: 0;
		width: 100%;
		height: 15%;
		border-radius: 6px;
		background-color: #fff;
	}
	.menu-ham span:nth-last-of-type(1){
		top: 0;
	}
	.menu-ham span:nth-last-of-type(2){
		top: 42.5%;
	}	
	.menu-ham span:nth-last-of-type(3){
		bottom: 0;
	}	
	.logo-2{
		margin-left: 40px;
		width: 80px;
		display: initial;
	}
	.logo-2 img {
		width: 100%;
	}
	.date h3 {
		text-align: center;
		font-size: .833rem;
	}
	.bottom_left {
		text-align: center;
	}
	.bottom_left h1{
		padding: 0 5%;
		font-size: 1.30rem;
	}

	.navbar_menu{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		min-height: 500px;
		height: 100%;
		padding-top: calc(25px + 2.2rem);
		flex-direction: column;
		justify-content: space-around;
		transform: translateY(-100%);
		align-items: center;
		background-color: rgba(0,0,0,.8);
		font-size: 1.2rem;
		transition: transform .5s ease;	
	}
	.navbar_menu .nav_menu ul{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.nav_right{
		margin: 0 auto;

	}
	.navbar_menu ul li{
		margin-left: 0;
		margin-bottom: 1.8rem;
		text-align: center;
	}
	.news .large{
		width: 100%;
		padding: 3% 0 0;
		border-top: 1px solid rgba(34,35,83,.4);
	}
	.large_img{
		display: inline-block;
		width: 30%;
		padding-top: calc(30% * 3 / 4);
	}

	.large_content{
		display: inline-flex;
		vertical-align: top;
		justify-content: space-between;
		flex-direction: column;
		justify-content: space-between;
		width: 69%;
		padding-top: 1%;
		padding-left: 3%;
		border-top: 0;
	}

	.large_content h3{	
		font-size: 1.1rem;
		margin-bottom: 0;
		padding-top: 0;
		border-top: 0;
	}
	.large_content p{
		display: none;
	}


	.small {
		width: 100%;
		margin-top: 0;
	}
	.news .small .small_item{
		width: 100%;
		margin-top: 1.5rem;
		padding: 3% 0 0;
		border-top: 1px solid rgba(34,35,83,.4);
		height: auto;
		align-self: stretch;
	}
	.news .small_item_img{
		display: inline-block;
		width: 30%;
		margin-bottom: 0;
		padding-top: calc(30% * 3 / 4);
	}
	.small_item_content{
		display: inline-flex;
		vertical-align: top;
		flex-direction: column;
		justify-content: space-between;
		width: 69%;
		padding-top: 1%;
		padding-left: 3%;
		border-top: 0;
	}
	.card_news {
		border: none;
		box-shadow: none;
		background-color: transparent;
	}
	.card_news:before{
		display: none;
	}
	.other_news{
		flex-wrap: wrap;
	}

	.other_news_img{
		width: 100%;
		padding-top: calc((100%) * 27 / 64)
	}
	.other_news_content{
		width: 100%;
	}
	.other_news_content a{
		float: none;
		margin: 5% auto 0;
		display: block;
		width: fit-content;
	}

	.section_title{
		display: block;
		margin: 4rem 0 1rem;
	}
	.title a{
		display: none;
	}

	.title h1{
		padding-bottom: 0;
		border-bottom: none;
		font-size: 1.75rem;
		text-align: center;
	}

	footer{
		padding: 7%;
	}
	.footer_nav .nav_link{
		display: none;
	}
	.section_1 {
		border-bottom: none;
	}
	.section_1 form{
		float: none;
	}
	.section_1 input{
		width: 70%;
	}
	.section_1 button{
		width: calc(29% - .25rem);
	}

	.footer_logo .logo{
		width: 6.5rem;
	}

	.footer_logo .name{
		width: calc(99% - 7.5rem);
		font-size: 1rem;
	}

	.mobile_apps{
		display: block;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.qrcode1{
		width: 24%;
		height: auto;
		float: right;
		position: static;
	}
	.qrcode2{
		width: 24%;
		position: static;
		margin-right: 1rem;
		height: auto;
		float: right;
	}
	.store{
		width: 39%;
	}
	.news .small2 .small_item{
		width: 100%;
		margin-top: 1.5rem;
		padding: 3% 0 0;
		border-top: 1px solid rgba(34,35,83,.4);
		height: auto;
		align-self: stretch;
	}
	.news .small2 .small_item_img{
		display: inline-block;
		width: 30%;
		margin-bottom: 0;
		padding-top: calc(30% * 3 / 4);
	}
	.news .small2 .small_item_content{
		display: inline-flex;
		vertical-align: top;
		flex-direction: column;
		justify-content: space-between;
		width: 69%;
		padding-top: 1%;
		padding-left: 3%;
		border-top: 0;
	}
	.sidebar{
		display: none;
	}

	.turkmen_article{
		width: 100%;
		padding-right: 0;
	}
	.half {
		width: 100% !important;
	}
	.mg_left{
		margin-left: 0;
	}
	.send{
		display: block;
		margin: 1.666rem auto 0;
		float: none;
		transform: none;
	}
	.register_cont .register_form table tr{
		width: 100%;
		display: block;
	}
	.register_cont .register_form table td:first-child{
		width: 100%;
	}
	.register_cont .register_form table td{
		display: block;
		width: 100%;
		padding-bottom: 0;
	}
	.register_cont .register_form table td:first-child p{
		width: 100%;
		padding: 20px 0 5px;
		border-bottom: none;
		margin-bottom: 0;
	}
	.register_cont{
		padding: 7% 0 20%;
		font-size: .888rem;
	}
	.info{
		display: none;
	}
	.condition p{
		width: 100%;
	}
	.register_form .input_wrapper select{
		font-size: 12.5px;
	}

	.menu-toggle .menu-showing span:nth-last-of-type(3){
		transform: translateY(.11667rem) rotate(-45deg);
		transform-origin: 0 50%;
	} 
	.menu-toggle .menu-showing span:nth-last-of-type(2){
		width: 0;
		height: 0;
	} 
	.menu-toggle .menu-showing span:nth-last-of-type(1){
		transform: translateY(-.11667rem) rotate(45deg);
		transform-origin: 0 50%;
	} 
}