{% extends 'base.html' %}

{% block content %}
	<div class="register_cont" style="padding: 75px 0 150px;">
		<h3 style="margin-bottom: 1.3888rem; font-size: 1.2rem;">Here, you can apply to participate in the International Conference</h3>
		<div class="info" style="float: right;">
			<h4>Contact us</h4>
			<p>Tel.: <a href>+993 12 44 57 91</a></p>
			<p>Email: <a href>info@neutrality.gov.tm</a></p>
		</div>
		<div class="condition" style="margin-bottom: 4.444rem;">
			<p>All fields have to be filled either in English or in Russian.</p>
			<p>Filling of the fields marked with asterisk(*) is obligatory. Registration cannot been completed without them.</p>
			<p>Information in the Surname, First Name, Place of Birth, and Passport Number fields must match the information in your passport exactly.</p>
		</div>
	</div>
{% endblock %}