<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body data-aos="fade-zoom-in"
     data-aos-easing="ease-in-back"
     data-aos-delay="300"
     data-aos-offset="0">
	<video autoplay muted loop >
		<source src="{% static 'video/videos.mp4' %}" type="video/mp4">
		</video>
		<div class="purple_background"></div>
		<header>
			<div class="header">
				<div class="menu-toggle" onclick="DisplayMenu()">
					<div class="menu-ham" id="show-x">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div style="margin-left: .4rem;">MENU</div>
				</div>
				<nav>
					<div class="logo">
						<img src="{% static 'images/Bitaraplyk-logo.png' %}" alt="">
					</div>
					<div class="logo-2">
						<img src="{% static 'images/Logo_2.png' %}" alt="">
					</div>
					<div class="navbar_menu" id="menu">
						<div class="nav_menu">
							<ul id="nav">
								<li><a href="{% url 'home' %}" class="navbar_link home">Home</a></li>
								<li><a href="{% url 'about' %}" class="navbar_link">About Forum</a></li>
								<li><a href="{% url 'news' %}" class="navbar_link">News</a></li>
								<li><a href="{% url 'turkmen' %}" class="navbar_link">Turkmenistan</a></li>
								<li><a href="{% url 'register' %}" class="navbar_link">Registration</a></li>
								<li><a href="{% url 'contact' %}" class="navbar_link">Contact us</a></li>
							</ul>
						</div>
						<div class="nav_right">
							<div class="profile">
								<a href="#">Personal Web Page</a>
							</div>
							<ul>
								<li><a href="#">ENG</a></li>
								<li><a href="#">RUS</a></li>
								<li><a href="#">TKM</a></li>
							</ul>						
						</div>
					</div>
				</nav>
			</div>	
			<div class="bottom">
				<div class="date">
					<h3>DECEMBER 11-12, 2020 ASHGABAT, TURKMENISTAN</h3>
				</div>
				<div class="header_bottom">
					<div class="bottom_left" >
						<h1>
							INTERNATIONAL CONFERENCE «POLICY OF NEUTRALITY AND ITS IMPORTANCE IN ENSURING INTERNATIONAL PEACE, SECURITY AND SUSTAINABLE DEVELOPMENT»
						</h1>
						<a href="{% url 'register' %}" class="register">Registration</a>
					</div>
					<div class="bottom_right">
						<div class="logo_2">
							<img src="{% static 'images/Logo_2.png' %}" alt="">
						</div>
						<p>
							2020 year -
							<br>
							Turkmenistan – Home of Neutrality
						</p>
					</div>
				</div>
			</div>
		</header>
		<div class="main-wrapper">
			<div class="main">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% block map %}
		{% endblock %}
		<div class="wrapper">
			<footer>
				<div class="section_1">
					<form class="subscribe">
						<label for="subscribe"> Subscribe to our feed </label>
						<div class="input">
							<input type="email" placeholder="Your e-mail address..." required="required">
							<button type="submit">Subscribe</button>
						</div>
					</form>
					<div class="footer_logo">
						<div class="logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'images/Bitaraplyk-logo.png' %}" alt="Logo">
							</a>
						</div>
						<div class="name">International Conference «Policy of Neutrality and its importance in ensuring international peace, security and sustainable development»</div>
					</div>
				</div>
				<div class="section_2">
					<div class="footer_nav">
						<div class="nav_link">
							<a href="{% url 'home' %}">Home</a>
						</div>
						<div class="nav_link">
							<a href="{% url 'about' %}">About Forum</a>
						</div>
						<div class="nav_link">
							<a href="{% url 'news' %}">News</a>
						</div>
						<div class="nav_link">
							<a href="{% url 'turkmen' %}">Turkmenistan</a>
							<ul>
								<li><a href="#">General information</a></li>
								<li><a href="#">Foreign policy</a></li>
								<li><a href="#">Economy</a></li>
								<li><a href="#">Social sphere</a></li>
								<li><a href="#">Healthcare</a></li>
							</ul>
						</div>
						<div class="nav_link">
							<a href="{% url 'register' %}">Registration</a>
						</div>
						<div class="nav_link">
							<a href="{% url 'contact' %}">Contact us</a>
						</div>
						<div class="mobile_apps">
							<div class="qrcode1">
								<img src="{% static 'images/qr-code.png' %}" alt="">
							</div>
							<div class="qrcode2">
								<img src="{% static 'images/qr-code-logo.png' %}" alt="">
							</div>
							<div class="store">
								<img src="{% static 'images/Google.png' %}" alt="">
							</div>
							<div class="store">
								<img src="{% static 'images/Apple.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="section_3">
					<p>Copyright © 2020. All Rights Reserved.</p>
				</div>
			</footer>
		</div>
		{% block scripts %}
		{% endblock %}
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'js/app.js' %}"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZN9wu9vn-WWqPZylf8vExw-bVo0CrHoQ&callback=initMap"></script>
		<script>
			var path = location.pathname.split("/")[1];
			$('#nav li a').each(function(){
				var $this = $(this);
				if(path != ''){
					if($this.attr('href').indexOf(path) != -1){
						$this.addClass('active');
						$('#nav li a:first-child').removeClass("home");
					}
				}
			})

			if(path != ''){
				$('.bottom').addClass("bootoms_up");
				$('.header').addClass("header_top");
			}

		</script>
	</body>
	</html>