{% load static %}
<div class="date">
	<h3>DECEMBER 11-12, 2020 ASHGABAT, TURKMENISTAN</h3>
</div>
<div class="header_bottom">
	<div class="bottom_left" >
		<h1>
			INTERNATIONAL CONFERENCE «POLICY OF NEUTRALITY AND ITS IMPORTANCE IN ENSURING INTERNATIONAL PEACE, SECURITY AND SUSTAINABLE DEVELOPMENT»
		</h1>
		<a class="register">Registration</a>
	</div>
	<div class="bottom_right">
		<div class="logo_2">
			<img src="{% static 'images/Logo_2.png' %}" alt="">
		</div>
		<p>
			2020 year -
			<br>
			Turkmenistan – Home of Neutrality
		</p>
	</div>
</div>